/* CSS declarations go here */
.glyphicon {
    cursor: pointer;
}

.fat-text {
    font-weight: bold;
}

li:nth-child(odd) {
    background: #fff;
}

li:nth-child(even) {
    background: #f2f2f2;
}

.mapbox {
    position: relative !important;
    height: 500px;
    width: 100%;
}

form {
    padding-top: 10px;
}

form input[type="text"] {
    font-size: 1.5em;
}

.venues-control-panel {
    padding-top: 20px;
    padding-bottom: 5px;
}

.venues-count {
    font-size: 2em;    
}

.export-data {
    text-align: right;
}

.venue-list-header {
    background: #d3d3d3 !important;
}

.query-list > .list-group-item {
    cursor: pointer;
}

.query-list > .list-group-item:hover {
    color: #d3d3d3;
}

